

.App {
  text-align: center;
  background-color: silver;

}


/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

.App-link {
  color: #61dafb;
  
}
  
.flexbox-col {
  display: flex;
  flex-direction: column;
}

.flexbox-col > * {
  margin: 1px;
}

.flexbox-row {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.flexbox-row > * {
  border-style: solid;
  border-radius: 10%;
  box-shadow: 3px 5px #282c34;
  margin: 1em;
  width: 12em;
}

.input {
  background-color: #61dafb;
}